<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source='103.145.50.36';Initial Catalog=admin_matrimonyforgujarati;User ID=db_matrimonyforgujarati;Password=oHm@1110;pooling=true;connection lifetime=120;max pool size=25;" />
    <!--<add name="dbconnection" connectionString="Data Source='103.145.50.36';Initial Catalog=admin_matrimonyforgujarati;Integrated Security=false;User ID=db_matrimonyforgujarati;Password=oHm@1110" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbconnection" connectionString="Data Source='103.145.50.36';Initial Catalog=admin_matrimonyforgujarati;User ID=db_matrimonyforgujarati;Password=oHm@1110;Trusted_Connection=True;" />-->
    <!--<add name="DataSourceConnectionString" connectionString="Data Source=&quot;74.208.94.223, 1433&quot;;User ID=MovieLibraryUser;Password=oHm@1110"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
