<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
     
      <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1"/>
    </system.web>

  <connectionStrings>
    <!--<add name="dbconnection" connectionString="Data Source=103.145.50.36;Initial Catalog=admin_matrimonyforgujarati;User ID=db_matrimonyforgujarati;Password=oHm@1110;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
    <add name="dbconnection" connectionString="Data Source='103.145.50.36';Initial Catalog=admin_matrimonyforgujarati;User ID=db_matrimonyforgujarati;Password=oHm@1110;pooling=true;connection lifetime=120;max pool size=25;" />
    <!--<add name="DataSourceConnectionString" connectionString="Data Source=&quot;74.208.94.223, 1433&quot;;User ID=MovieLibraryUser;Password=oHm@1110"
      providerName="System.Data.SqlClient" />-->
    <!--Data Source=103.145.50.36;Initial Catalog=admin_matrimonyforgujrati;User ID=db_matrimonyforgujarati;Password=***********-->
  </connectionStrings>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />


    <add key="token" value="PW1BDVNqVPVanwduF_Tb2Ey91aT1Uhx1kL7HPc-7e8S-6AnUwSSHyasolSe"/>
    <add key="paypalemail" value="k.tapankumar@gmail.com"/>

    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>

    <add key="FailedURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>

    <add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>
  </appSettings>
</configuration>
